.vscode/
.vscode*
.git/
.venv/
.cache
.terraform/
terraform.*
**.pyc
**.tf
**.tfstate
.dockerignore
**/__pycache__/
.in
.out
.pylintrc
Makefile
README.md
assets/
deploy/
**/*.tgz
**/*.zip
python-libs/
docker_old/
datafiles/
.repo/
.history/
