certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
idna==2.8
jmespath==0.10.0
python-engineio==3.13.1
python-socketio==4.6.0
circus==0.16.1
psutil==5.7.2
pyzmq==19.0.1
tornado==4.5.3
dirhunt==0.8.1
xmltodict==0.12.0
