boto3>=1.15<1.16
botocore>=1.18<1.19
certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
idna==2.8
jmespath==0.10.0
passlib>=1.7<1.8
protobuf==3.12.2
python-dateutil>=2.8<2.9
python-engineio==3.13.1
python-socketio==4.6.0
requests>=2.22<2.23
retry>=0.9<1.0
s3transfer==0.3.3
circus==0.16.1
psutil==5.7.2
pyzmq==19.0.1
tornado==4.5.3
redis==3.5.3
mysql-connector-python==8.0.21
PyYAML==5.3.1
tldextract==3.1.0
dirhunt==0.8.1